
                <div class="span2" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="/"><i class="icon-chevron-right"></i> 首页</a>
                        </li>
                        
                        <li id="server">
                            <a href="/server"><i class="icon-chevron-right"></i> 管理服务器</a>
                        </li>
                         <li id="serverModify">
                            <a href="/server/modify"><i class="icon-chevron-right"></i> 添加服务器</a>
                        </li>
                        <li id="application">
                            <a href="/application"><i class="icon-chevron-right"></i> 应用列表</a>
                        </li>
                        <li id="applicationModify">
                            <a href="/application/modify"><i class="icon-chevron-right"></i> 添加应用</a>
                        </li>
                        <li id="deployConfig">
                            <a href="/deployConfig"><i class="icon-chevron-right"></i> 部署配置</a>
                        </li>
                        <li>
                            <a href="buttons.html"><i class="icon-chevron-right"></i> 按钮 & 图标</a>
                        </li>
                        <li>
                            <a href="editors.html"><i class="icon-chevron-right"></i> 编辑器</a>
                        </li>
                        <li>
                            <a href="interface.html"><i class="icon-chevron-right"></i> UI界面</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-success pull-right">731</span> 订单</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-success pull-right">812</span> 清单</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-info pull-right">27</span> 客户</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-info pull-right">1,234</span> 用户</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-info pull-right">2,221</span> 消息</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-info pull-right">11</span> 报告</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-important pull-right">83</span> 错误</a>
                        </li>
                        <li>
                            <a href="#"><span class="badge badge-warning pull-right">4,231</span> 日志</a>
                        </li>
                    </ul>
                </div>
                
                <!--/span-->
               