 {% load staticfiles %}
    <script src="{% static "vendors/jquery-1.9.1.min.js"  %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js"  %}"></script>
 <script src="{% static "vendors/datatables/js/jquery.dataTables.min.js" %}"></script>

        <script src="{% static "vendors/easypiechart/jquery.easy-pie-chart.js" %}"></script>
        <link href="{% static "vendors/uniform.default.css" %}" rel="stylesheet" media="screen">
        <script src="{% static "vendors/jquery.uniform.min.js" %}"></script>
        <script src="{% static "assets/scripts.js" %}"></script>
        <script src="{% static "assets/DT_bootstrap.js" %}"></script>
        <script src="{% static "assets/DT_bootstrap.js" %}"></script>
        <script src="{% static "vendors/formbinder/radio.js" %}"></script>